<!DOCTYPE html>
<html>
<head>
    <title>Case Data Extractor</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{{ url_for('static', filename='validation.js') }}"></script>
    <script src="{{ url_for('static', filename='modal.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="mdc-typography">
        <h1>Enter ECLI ID</h1>       
        <form method="post">
            <div class="mdc-text-field">
                <input type="text" id="ecli_id" name="ecli_id" class="mdc-text-field__input" placeholder="Enter ECLI ID" required>
                <label class="mdc-floating-label" for="ecli_id"></label>
                <div class="mdc-line-ripple"></div>
            </div>
            <input type="hidden" name="action" value="extract">
            <button type="submit" class="mdc-button mdc-button--raised">Genereer tijdlijn</button>
        </form>
        {% if ecli_id %}
            <h2>ECLI ID: {{ ecli_id }}</h2>
        {% endif %}
        {% if extracted_text %}
            <h2>Procesverloop</h2>
            <p>{{ extracted_text }}</p>
            <form method="post">
                <input type="hidden" name="ecli_id" value="{{ ecli_id }}">
                <input type="hidden" name="extracted_text" value="{{ extracted_text }}">
                <input type="hidden" name="action" value="send_to_openai">
                <button type="submit" class="mdc-button mdc-button--raised">Send to OpenAI</button>
            </form>
        {% endif %}
        {% if openai_response %}
            <h2>OpenAI Response:</h2>
            <p>{{ openai_response }}</p>
        {% endif %}
    </div>
    <script>mdc.autoInit()</script>
    <script>
        // Add the script here to show the loading indicator on form submission
        document.querySelector('form').onsubmit = function() {
            document.getElementById('loadingIndicator').style.display = 'block';
        };
    </script>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <p>Loading, please wait...</p>
          <!-- Optional: Add a spinner or loading animation here -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='validation.js') }}"></script>
</body>
</html>
