<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/uln2pyv.css">

    <meta charset="UTF-8">
    <meta name="viewport" , initial-scale=1.0">
    <title>Feitlijn</title>
</head>

<body>

    <div id="generalInfo">
        <p id="ecli"></p>
        <p id="court"></p>
        <p id="moreInfo">Bekijk de volledige uitpraak op <span id="urlPlaceholder">rechtspraak.nl</span>.</p>
    </div>

    <div class="timelineContainer" id="timelineContainer" data-ecli-id="{{ ecli_id }}">
        <ul id="eventList">

        </ul>
    </div>

    <script src="{{ url_for('static', filename='timeline_generator.js') }}"></script>

</body>

</html>