body {
  background-color: var(--black);
  color: #333;
  font-family: Manrope, sans-serif;
  font-size: 1rem;
  line-height: 1.2em;
}

.profile-item {
  display: block;
  background-color: rgba(255, 255, 255, 0.1); /* Light background for glass effect */
  border-radius: 1rem;
  padding: 3rem 1rem 2rem 1rem;  
  width: 100%;
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--white-smoke);
  backdrop-filter: blur(10px); /* Key property for glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 0px solid rgba(255, 255, 255, 0.2);
}


.profile-item:hover {
  transform: scale(1.05);
  background-color: #E1FF28; /* Yellow background on hover */
  color: #141365; /* Dark blue text on hover */
}

.container-profile {
  display: flex;
  flex-direction: row; /* Sets the flexbox direction to row */
  position: relative; /* Sets a positioning context for the sticky element */
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  width: 20%;
  min-width: 250px;
  padding: 4rem;
  position: sticky; /* Makes the sidebar stick to the top of the container */
  top: 0; /* Ensures sidebar starts at the top of its container */
  height: calc(100vh - 8rem); /* Adjust height accounting for padding */
  overflow: auto;
  display: flex;
  flex-direction: column;

}

.content {
  flex-grow: 1; /* Allows the content area to take up remaining space */
  padding: 4rem;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1100px;
  margin: auto; /* Centers the grid in the available space */
}




.paywall-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 25rem; /* Start the overlay at 20rem from the top */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(220 219 249 / 50%); 
  backdrop-filter: blur(3px); /* This creates the blur effect */
  transition: backdrop-filter 0.5s ease; /* Smooth transition for the blur effect */
  -webkit-mask-image: linear-gradient(to bottom, transparent, transparent 0rem, black 5rem); /* Gradual transition mask for WebKit browsers */
  mask-image: linear-gradient(to bottom, transparent, transparent 0rem, black 5rem); /* Gradual transition mask for other browsers */
  overflow: hidden;
}



.message {
  padding: 3rem;
  width: 480px;
  background: linear-gradient(to bottom right, rgb(68, 48, 156), rgb(47, 46, 117));
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 16px;
  margin-top: 4rem;
}

.feitlijn_wrapper .message a {
  color: var(--pink); /* Sets the link color to soft lilac */
  text-decoration: none; /* Optional: removes the underline from links */
}

.feitlijn_wrapper .message a:hover, .message a:focus {
  color: var(--purple); /* Darker purple for hover and focus states to enhance visibility */
  text-decoration: underline; /* Optional: adds underline on hover/focus to indicate interactivity */
}


.input-field {
  margin-top: .5rem;
  border-radius: 0.375rem;

}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  background: var(--glass);
  color: var(--white-smoke);
  padding: 3rem;
  border-radius: 8px;
  width: 480px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}


.login-card a {
  color: var(--pink);
  text-decoration: none; /* Optional: removes the underline from links */
}

.login-card a:hover, .login-card a:focus {
  color: var(--purple); /* Darker purple for hover and focus states to enhance visibility */
}


.spacing-top {
  margin-top: 1.5rem;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: var(--dark-grey);
}

.input-group {
  margin-bottom: 1rem;
}

.checkbox-group {
  display: flex;
  align-items: center;

}

.checkbox-group label {
  margin-left: 10px;

}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0 1rem 0;
}

.button-full {
  width: 100%;
}

.masonry-wrapper {
  width: 65rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.masonry-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 4rem;
}

.grid-item {
  display: block;
  background-color: rgba(255, 255, 255, 0.1); /* Light background for glass effect */
  border-radius: 1rem;
  padding: 3rem 1rem 2rem 1rem;  
  margin-bottom: 2rem;
  width: calc(33.333% - 2rem);
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--white-smoke);
  backdrop-filter: blur(10px); /* Key property for glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 0px solid rgba(255, 255, 255, 0.2);
}


.grid-item:hover {
  transform: scale(1.05);
  background-color: #E1FF28; /* Yellow background on hover */
  color: #141365; /* Dark blue text on hover */
}

.emojis-grid {
 
  font-size: 40px;
  letter-spacing: 8px;
  margin-bottom: 2rem;
}

.case-name {
  font-size: 1rem;
  margin-bottom: 4px;
  margin-top: 1rem;
}

.case-date {
  font-size: .8rem;
  margin-bottom: 1rem;
}

.case-ecli {
  color: #7870FF; /* Specific color for ECLI identifier */
  font-size: .8rem;
}



.accordion-wrapper {
  margin-top: 50px;
}

.accordion-item {
  background-color: var(--glass);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .03);
}

.accordion-item-trigger {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.accordion-heading {
  cursor: pointer;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 30px;
}

.icon.accordion-icon {
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
  font-size: 32px;
  line-height: 30px;
}

.accordion-item-content {
  margin-top: 10px;
  margin-right: 30px;
  overflow: hidden;
}


.timelineContainer {
  max-width: 100%;
  /* Sets a maximum width for the timeline */
  margin: 0 auto;
  /* Centers the timeline in the middle of the page */
  padding: 20px;
  /* Adds some space inside the container */
  background-color: #f9f9f9;
  /* Optional: Sets a background color for the container */
  border-radius: 8px;
  /* Optional: Rounds the corners of the container */
}

#eventList {
  list-style-type: none;
  position: relative;
  padding: 0;
}

#eventList::before {
  /* Line connecting events */
  content: '';
  position: absolute;
  left: 47px;
  /* Adjust so the line is in the middle of the circles */
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #333;
}

.event-item {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  /* Space between events */
  padding-left: 100px;
  /* Provides space for the date, circle, and vertical line */
}

/* New styles for date, party, and description for better alignment and spacing */
.event-date,
.event-party,
.event-description {
  margin: 5px 0;
}

.event-date {
  font-weight: bold;
}

.event-party {
  font-style: italic;
}

/* Style for the circle */
.event-item::before {
  content: '';
  position: absolute;
  left: 40px;
  /* Aligns with the vertical timeline line */

  /* Adjust based on your layout for vertical alignment */
  height: 10px;
  width: 10px;
  background-color: #fff;
  /* Circle color - can match the page background or be different */
  border: 4px solid #333;
  /* Border color to match the timeline */
  border-radius: 50%;
  /* Makes the shape a circle */
  z-index: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 30%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  transform: translate(-50%, -50%);
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}



.form_wrapper {
position: relative;
display: flex;
flex-direction: row;
padding: 0.75rem;
border-radius: 4rem;
background: var(--glass);
margin-bottom: 1rem;
  
}

.input_with_suggestion {
  width: 100%;

}

lottie-player {
  margin: 0 auto;
}

.lottieplayer_centered {
  display: flex;
  justify-content: center;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}

.loading_text {
  font-size: 1.8em;
  text-align: center;
}



.feitlijn_standpunten_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.standpunt_card {
  flex: 1;
  background-color: #ECEBFC;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box; /* Makes sure padding and border are included in the width */
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
}

.feitlijn_standpunten_wrapper {
  margin-bottom: 2rem;
}

.oordeel_wrapper {
  margin-bottom: 2rem;

}

.emoji_card {
  flex: 1;

  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box; /* Makes sure padding and border are included in the width */
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.emojis {
  font-size: 4rem;
  letter-spacing: 8px;
}

.feitlijn_subkop {
  color: #0400D8;
  font-size: 1.5rem;
  margin: 0 0 1rem 0; /* Add space below the header */
}

.feitlijn_meta_data_text {
  color: #0400D8;
  font-size: 1rem;
  margin: 0; /* Removes default paragraph margin */
}




.feitlijn_wrapper a {
  color: var(--blue);
  text-decoration: underline; /* Adds underline to the links */
}



.timelineContainer {
  max-width: 100%;
  /* Sets a maximum width for the timeline */
  margin: 0 auto;
  /* Centers the timeline in the middle of the page */



}

#eventList {
  list-style-type: none;
  position: relative;
  padding: 0;
}

#eventList::before {
  /* Line connecting events */
  content: '';
  position: absolute;
  left: 46px;
  /* Adjust so the line is in the middle of the circles */
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--blue);
}

.event-item {

  padding-left: 70px;
  padding-bottom: 2rem;
  /* Provides space for the date, circle, and vertical line */
  grid-column-gap: 1rem;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  display: flex;

}



/* Style for the circle */
.event-item::before {
  content: '';
  position: absolute;
  left: 40px;
  /* Aligns with the vertical timeline line */

  /* Adjust based on your layout for vertical alignment */
  height: 10px;
  width: 10px;
  background-color: #fff;
  /* Circle color - can match the page background or be different */
  border: 3px solid var(--blue);
  /* Border color to match the timeline */
  border-radius: 50%;
  /* Makes the shape a circle */
  z-index: 1;
}

.left-content {
position: relative; /* Establishes a positioning context */
top: -6px; /* Moves the div up by 10 pixels */
}

.right-content {
  display: flex; /* Activates Flexbox */
  flex-direction: column; /* Stacks items vertically */
  align-items: flex-start; /* Aligns items to the left */
  gap: .4rem; /* Sets spacing between items */
}

.entries_list {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-flow: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: flex;
}

.date_label {
  background-color: var(--pink);
  color: var(--blue);
  border-radius: 999em;
  padding: .4em 1em;
  font-size: .81em;
  display: inline-block;
}



.party_label {
  color: var(--blue);
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 0px;
}

.description_text {
  color: var(--blue);
  font-size: 1em;
  display: inline-block;
}

.feitlijn_wrapper {
  background-color: var(--white-smoke);
  border-radius: 8px;
  flex-flow: column;
  margin-top: 4rem;
  margin-bottom: 10rem;
  padding: 4rem 3rem;
  display: flex;
  box-shadow: 1px 1px 15px 3px rgba(255, 136, 223, .8);
  position: relative;
  overflow: hidden;
}




:root {
  --black: black;
  --white-smoke: #e0deff;
  --pink: hsl(68, 100%, 58%);
  --glass: rgba(252, 246, 243, .15);
  --blue: #231b69;
  --dark-grey: #231b69;
  --purple: #7870ff;
}



h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.25em;
  line-height: 1.1em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.375em;
  line-height: 1.1em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25em;
  line-height: 1.2em;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75em;
  line-height: 1.2em;
}

h5 {
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 3em;
  margin-bottom: 1.1em;
  font-size: 1.2em;
  line-height: 1.2em;
}

h6 {
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.2em;
}

p {
  margin-bottom: 10px;
  line-height: 1.4em;
}

a {
  color: var(--white-smoke);
  text-decoration: none;
}

a:hover {
  color: var(--pink);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin-bottom: 10px;
}

.container-w3 {
  width: 100%;
  max-width: 58em;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.gutter-outside {
  padding-left: 4em;
  padding-right: 4em;
}

#zoekveld {
  display: block;
}

#loader {
  display: none;
}

.copy-big {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.45em;
  color: var(--white-smoke);
}


.copy-medium {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.45em;
  color: var(--white-smoke);
}

.copy-small {
  color: var(--white-smoke);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
}


.container-w1 {
  width: 100%;
  max-width: 95em;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.intro-description {

  padding-bottom: 2em;
}

.title1 {
  font-size: 10em;
  font-weight: 300;
  line-height: 1;
}

.title-highlight {
  background-color: var(--glass);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 999em;
  padding: .7em 1.4em .8em;
  font-size: 1.5em;
  display: inline-block;
}

.hero_wrapper {
  z-index: 1;
  grid-column-gap: 2.8rem;
  color: var(--white-smoke);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title-highlight-wrapper {
  margin-top: 3rem;
  font-size: .7em;
}

.wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.ultra-gradient-wrapper {
  background-color: #100f68;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  font-size: 1vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  z-index: -1;
}

.main-shapes-wrapper {
  filter: blur(120px);
}

.blending-group-wrapper {
  z-index: 1;
  filter: blur(120px);
  mix-blend-mode: overlay;
}

.shape-1 {
  transform-style: preserve-3d;
  background-color: #7774af;
  border-radius: 999em;
  width: 40em;
  height: 40em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -24.7em;
  left: 0;
  right: 0;
  transform: translate3d(88px, 100vh, 70px);
}

.shape-2 {
  background-color: #221e6e;
  border-radius: 999em;
  width: 43em;
  height: 40em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -20em;
  left: -27.4em;
  right: 0;
  transform: translate(-165px, 530px);
}

.shape-3 {
  background-color: #250396;
  border-radius: 999em;
  width: 53em;
  height: 100em;
  position: absolute;
  top: -19.8em;
  left: -26em;
  right: 0;
  transform: translate(80vw, 70vh);
}


.img_beta {
  width: 25rem;
}


.shape-5 {
  background-color: #894ac9;
  border-radius: 999em;
  width: 30em;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -21.7em;
  left: 0;
  right: 0;
}

.shape-6 {
  background-color: #030037;
  border-radius: 999em;
  width: 66em;
  height: 60em;
  margin-left: auto;
  position: absolute;
  top: -14.2em;
  right: -25em;
  transform: rotate(60deg);
}

.shape-7 {
  background-color: #b5a3d6;
  border-radius: 999em;
  width: 20em;
  height: 13em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -4.1em;
  left: 0;
  right: -23.9em;
  transform: rotate(40deg);
}

.shape-8 {
  background-color: #221e6e;
  border-radius: 999em;
  width: 47em;
  height: 119em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -17.1em;
  left: 26.7em;
  right: 0;
  transform: rotate(29deg);
}

.shape-9 {
  background-color: #221e6e;
  border-radius: 999em;
  width: 30em;
  height: 119em;
  position: absolute;
  top: -5.3em;
  right: 1.2em;
  transform: rotate(39deg);
}

.background-noise {
  z-index: 0;
  opacity: .3;
  background-image: url('../images/noise.png');
  background-position: 0 0;
  background-size: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.entries_list {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-flow: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: flex;
}



.description_text {
  color: var(--blue);
  font-size: .8em;
  display: inline-block;
}

.feitlijn_wrapper {
  background-color: var(--white-smoke);
  border-radius: 8px;
  flex-flow: column;
  margin-top: 4rem;
  margin-bottom: 10rem;
  padding: 4rem 3rem;
  display: flex;
  box-shadow: 1px 1px 15px 3px var(--white-smoke);
}

.div-block-3 {
  border: 3px solid var(--blue);
  background-color: var(--pink);
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
}

.div-block-4 {
  padding-top: 1rem;
}

.feitlijn_entries_wrapper {
  flex-flow: row;
  display: flex;
}

.feitlijn_header_text {
  color: var(--blue);
  margin-top: 2rem;
  font-size: 1.6em;
  display: inline-block;
}

.feitlijn_header_wrapper {
  grid-column-gap: 2.3rem;
  grid-row-gap: 2.3rem;
  flex-flow: column;
  align-items: center;
  display: flex;
}




.feitlijn_footer_text {
  color: var(--blue);
  font-size: 2em;
  display: inline-block;
}

.entry_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  display: flex;
}

.entry_wrapper_desc {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: flex;
}

.feitlijn_logo {
  width: 3rem;
  height: 3rem;
}

.feitlijn_meta_data_text {
  color: var(--blue);
  font-size: .8em;
  display: inline-block;
}

.space_between {
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.div-block-6 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
}

.form {

 
  display: flex;
  align-items: center;
}

.ecli_field {
  color: var(--blue);
  height: 100%;
  margin-bottom: 0;
  font-size: 2.1rem;
  width: 100%;
  border-radius: 3rem;
  padding: 1.35rem 18rem 1.35rem 2.25rem;
}

.ecli_field::placeholder {
  color: rgba(85, 0, 255, .4);
  font-size: 2.1rem;
}

.rounded-button {
  background-color: var(--pink);
  color: var(--dark-grey);
  border-radius: 3rem;
  font-weight: 700;
  right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  transition: all 0.2s;
}

.rounded-button:hover {
  background-color: #7870ff;
  color: #e0deff
}

.rounded-button:focus {
  outline: 2px solid #0400d8; /* Add an outline when the button is focused */
}


.rectangular-div {
  width: 45rem;  /* Set the width of the rectangle */
  height: 25rem; /* Set the height of the rectangle */
  background-image: url('/static/images/beta.png'); /* Path to your transparent PNG */
  background-size: cover;  /* Cover ensures the image covers the div completely */
  background-position: center; /* Centers the background image in the div */
  display: flex;  /* Use flexbox to align the text */
  flex-direction: column;
  align-items: center;  /* Align text vertically */
  justify-content: center;  /* Align text horizontally */
  color: var(--white-smoke);  /* Set the text color */
  font-size: 1.2em;  /* Set the text size */
  text-align: center;  /* Ensure text is centered if it wraps */
  z-index: 1;
  position: relative;
  margin-top: 10rem;
}


.beta_text {
  display: flex;
  position: relative;

  flex-direction: column;
  padding-left: 12rem;
  padding-right: 12rem;
  margin-top: -100px;
}


.submit-button {
  background-color: var(--pink);
  color: var(--dark-grey);
  border-radius: 3rem;
  font-weight: 700;
  right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  transition: all 0.2s;
}

.position_absolute {
  position: absolute;
}

.submit_button_small {
  border-radius: 3rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;

}


.submit-button:hover {
  background-color: #7870ff;
  color: #e0deff;
}

.ecli_link {
  color: var(--pink);
  font-weight: 600;
}

.hero_logo_small {
  width: 5rem;
  display: inline-block;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.hero_logo_big {
  width: 20rem;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.nav-wrapper {
  z-index: 1;
  grid-column-gap: 2.8rem;
  grid-row-gap: 2.8rem;
  color: var(--white-smoke);
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 90rem;
  margin-top: 3rem;
  display: flex;
}

.copy_button {
  justify-content: space-between;
  align-items: stretch;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45em;
  display: flex;
}

.container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
}

.container_vertical {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: first baseline
}


.nav_button {
  color: var(--white-smoke);
  text-decoration: none;
  font-size: 0.8rem;
  position: relative;
  text-decoration: none;
  overflow: visible; /* Ensures the pseudo-element does not overflow the link's bounds */

}

.nav_button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: var(--pink);
  transform: scaleX(0);
  transform-origin: left center; /* Start the transform from the left */
  transition: transform 0.3s ease-in-out;
}

.nav_button:hover::after {
  transform: scaleX(1); /* Scale to full width on hover */
  color: var(--pink);
}

.nav_button::after {
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out 0.3s; /* Delay the transition of 'left' */
}

.nav_button:hover::after {
  transform: scaleX(1); /* Full width */
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out; /* No delay on hover */
}




.footer_wrapper {
  z-index: 1;
  grid-column-gap: 2.8rem;
  grid-row-gap: 2.8rem;
  color: var(--white-smoke);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 4rem;
  display: block;
}

.loader_wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  color: var(--white-smoke);
  margin-top: 2rem;
}



.beta_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 65rem;
  min-height: 20rem;
  padding: 55px;
  z-index: 1;
  color: var(--white-smoke);

}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--glass);
  border-radius: 2rem;
  width: 65rem;
  min-height: 20rem;
  padding: 55px;

}

.text-block {
  color: var(--white-smoke);
  font-weight: 600;
}

.div-block-7 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  display: flex;
}

.div-block-8 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  display: flex;
}


.div-block-8-copy {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  display: flex;
}


.logo_patroon {
  width: 5rem;
}

.container_horizontal {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.div-block-9 {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  display: flex;
}

.div-block-10 {
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.timeline_wrapper, .faq_wrapper {
  z-index: 1;
  grid-column-gap: 2.8rem;
  grid-row-gap: 2.8rem;
  color: var(--white-smoke);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.accordion-wrapper {
  margin-top: 50px;
}

.accordion-item {
  background-color: var(--glass);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .03);
}

.accordion-item-trigger {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.accordion-heading {
  cursor: pointer;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 30px;
}

.icon.accordion-icon {
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
  font-size: 32px;
  line-height: 30px;
}

.accordion-item-content {
  margin-top: 10px;
  margin-right: 30px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: var(--black);
    color: var(--white-smoke);
    font-size: .87rem;
  }

  .form {
    display: block;
  }

  .masonry-wrapper {
    width: 90%;

  }

  .ecli_field {

    padding: 1.35rem 2.25rem 1.35rem 2.25rem;
    font-size: 1.5rem;
  }
  .ecli_field::placeholder {

    font-size: 1.5rem;
  }
  .submit-button {
    width: 100%;
    right: 0rem;
    margin-top: 1rem;
  }
  .gutter-outside {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .ultra-gradient-wrapper {
    font-size: 1.3vh;
  }

  .blending-group-wrapper {
    margin-left: -4em;
  }

  .shape-3 {
    width: 44em;
    height: 57em;
    position: absolute;
    top: 23.2em;
    bottom: 0;
    left: auto;
    right: -9.5em;
  }

  .shape-4 {
    top: 22em;
  }

  .footer {
    width: 43rem;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: .75rem;
  }

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 2.7em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: .9em;
  }

  .copy-medium {
    font-size: 1.3em;
    line-height: 1.4em;
  }


  

  .img_footer {
  width: 4rem;
}


  .intro-description {
    padding-left: 0;
    padding-right: 0;
  }

  .title1 {
    font-size: 5em;
  }

  .container {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    display: flex;
    flex-direction: column;
  }
  
 
  

  .main-shapes-wrapper, .blending-group-wrapper {
    filter: blur(80px);
  }

  .shape-3 {
    width: 30em;
    height: 100em;
  }
  .emojis {
    font-size: 3rem;
  }

  .copy_small {
    line-height: 1.3em;
  }

  .copy_button {
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .footer {
    width: 30rem;
  }

  .div-block-10 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: wrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row dense;
    display: grid;
  }

  .div-block-8-copy {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }


  .accordion-item-content {
    margin-right: 0;
  }

  .feitlijn_standpunten_wrapper {
    flex-direction: column;
  }
 
  .feitlijn_wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }


  .grid-item {
    width: 100%; /* Adjusted for full width on smaller screens */
    padding: 2rem; /* Reduce padding */
}
.emojis {
    font-size: 30px; /* Smaller emoji size */
}




}




@media screen and (max-width: 479px) {
  .shape-4 {
    top: 30.7em;
  }

  .copy_small {
    font-size: .6rem;
    line-height: 1.4em;
  }

  .footer {
    width: 18rem;
    padding: 30px;
  }

  .div-block-8 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }


  .div-block-9 {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
  }
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
 }
.border-gradient{
animation: spin 3s linear infinite;
background: conic-gradient(from 0 at 50% 50%, rgba(255, 255, 255, 1) 0deg, rgba(255, 255, 255, 0.3) 60deg, rgba(255, 255, 255, 0.3) 310deg, rgba(255, 255, 255, 1) 360deg);
}
.main-button-n:hover .border-gradient {
  animation-duration: 3s;
  animation-play-state: running;
}


@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.ttf') format('truetype'), url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}